<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret</title>
  </head>
  <body>
    <h2>Secret Page</h2>
    <!--(http structured) POST request form-->
    <!--form data not sent via ?queryString(can exist) but sent via request body (IMPORTANT SINCE IT MAKES PASSWORD VISIBLE )-->
    <!--form data middlewareMethod of expressAppObject - converts request body into req.body-->
    <!--ie jsObject-{key/name:inputValue,key/name:inputValue,key/name:inputValue}-->
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
